@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Play:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'concert one', sans-serif;
    hyphens: manual;
}

body{
    background-repeat:no-repeat;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    min-height: 100vh;
}

.background{
    background-image: url("./assets/purple_smoke.png");
    background-size: cover;
    min-height: 100vh;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    cursor: pointer;
    background: linear-gradient(
        brown,
        tan
    );
    border: none;
}

.row{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    width: 95%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

label{
    width: 120px
}

/*

    HEADER

*/

header{
    max-height: 100px;
    max-width: 1200px;
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 16px;
    color: white;
}

.mtg__header{
    align-self: center;
    max-height: 100px;
    max-width: 100px;
    margin-top: 24px;
}

.mtg__logo{
    max-width: 100px;
    padding-right: 24px;
}

h1{
    align-self: center;
    justify-self: center;
    text-align: center;
}

/*

    SEARCH

*/

#search{
    margin: 0 auto;
    padding-top: 48px;
    margin-bottom: 32px;
}

.search__wrapper{
    display: flex;
    flex-direction: column;
    width: 100%
}

.search__types{
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    padding-right: 20%;
}

.search__types--dropdown{
    align-items: center;
    display: none;
    width: 100%;
    padding-bottom: 8px;
}

.search--types{
    font-size: 16px;
}

.search--type{
    padding: 8px 8px;
    width: 22%;
    border-radius: 16px;
    font-size: 16px;

}

.search__option{
    font-size: 20px;
}

.search__form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search__form--entry{
    width: 100%;
    padding: 8px;
    margin-right: 8px;
    max-height: 48px;
    border-radius: 4px;
    border: none;
    font-size: 16px;;
}

.search__form--match{
    margin-right: 8px;
}

.search__btn{
    padding: 4px;
    width: 10%;
    border-radius: 16px;
    font-size: 16px;
}

/*

    CARDS

*/

.cards__container{
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    min-height: 80vh
}

.cards__loading{
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}

.fa-spinner{
    font-size: 144px;
    animation: spinner 750ms infinite linear;
}

@keyframes spinner {
    0%{
        transform: rotate(0)
    }
    100%{
        transform: rotate(360deg);
    }
}

.card__wrapper{
    max-width: 234.15px;
    width: fit-content;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 16px 16px;
    border: 1px solid black;
    border-radius: 15px;
}

.card__image{
    max-width: 232.15px;
    max-height: 325px;
    aspect-ratio: 5 / 7;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    transition: all 300ms ease;
}

.card__info{
    width: 100%;
    border: 1px solid black;
    padding-bottom: 8px;
    padding-left: 8px;
    border-radius: 15px;
    height: calc(450px - 325px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: darkgray;
    color:rgb(0, 0, 0);
}


.card__info--filler{
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    margin-left: 8px;
    margin-right: 8px;
    
}

.card__name, .card--types, .card__info--stats{
    font-family: 'Play', sans-serif;
 
}

.card__info--stats{
    font-size: 20px;
}

.load-more{
    flex-basis: 40%;
    padding: 8px 48px;
    border-radius: 25px;
    margin: 16px 16px 32px 16px;
}

.card__image:hover{
    transform: scale(1.2);
}

/*

    MENU

*/

#menu--fixed{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 250px;
    justify-content: start;
    align-items: start;
    max-width: 150px;
}

.menu--row{
    width: 100%;
}

.filter--icon{
    display: none;
    visibility: hidden;
}

.colors--name{
    text-align: center;
}

.filter--title{
    margin-left: 8px;
    margin-bottom: 8px;
}

.colors__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
}

.color__wrapper{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    margin-top: 4px;
}

.colors{
    display: flex;
    align-items: start;
    padding-bottom: 8px;
    flex-direction: column;
}

.color{
    
	border-radius: 3px;

}

.rarity{
    border-radius: 50%;
}

.color, .rarity{
    -webkit-appearance: none;
	background-color: transparent;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
    margin: 8px 8px 0 8px;
    display: inline-block;
	position: relative;
    cursor: pointer;
}

.color:active, .color:checked:active, .rarity:active, .rarity.color:checked:active{
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.color:checked, .rarity:checked{
    background-color: transparent;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.color:checked:after, .rarity:checked::after{
    font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #ffffff;
}

.rarity:checked::after{
    content: '\2022';
    left: 4px;
    top: -4px;
    font-size: 20px;
}

.color:checked::after{
    content: '\2714';
}



.label__white{
    color: white;
}

.label__blue{
    color: rgb(0, 183, 255)
}

.label__black{
    color: rgb(101, 44, 255)
}

.label__red{
    color: red;
}

.label__green{
    color: green;
}

.common__label{
    background: -webkit-linear-gradient(#99a1a7, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rare__label{
    background: -webkit-linear-gradient(#8f5f06, #f3bf13);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mythic__label{
    background: -webkit-linear-gradient(#8a2801, #ff7707);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.uncommon__label{
    background: -webkit-linear-gradient(#fff, #474747);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu--container{
    flex-direction: column;
    padding-left: 8px;
    align-items: start;
    justify-content: start;
}

.filter__wrapper{
    margin: 8px 0;
}

.type__selector{
    margin: 8px auto;
    padding-left: 8px;
    font-size: 16px;
}

.rarity{
    margin: 4px 8px;
}

.rarity__entry{
    display: flex;
    align-items: center;
}


.filters__accept{
    width: 100%;
    padding: 8px 0;
    margin-top: 32px;
    border-radius: 50px;
}

.power__selector,
.toughness__selector{
    margin-left: 8px;
    padding-left: 8px;
    font-size: 16px;
}

/*

    ACTIVE FILTERS

*/

#filters--fixed{
    position: absolute;
    height: fit-content;
    right: 0;
    top: 250px;
    width: 20%;
}

.filters--toggle{
    display: none;
    visibility: hidden;
}

.filter__container{
    flex-direction: column;
    padding-top: 24px;
}

.filter{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 8px;
    flex-direction: column;
}

.filter__title{
    font-size: 24px;
}

.filter__name{
    font-size:20px;
}

/*

    FOOTER

*/

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 0;
    width: 100vw;
    color: white;
}

.footer__row{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.footer__container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.credit{
    margin-top: 16px;
    font-size: 12px;
}

@media (max-width: 800px){
    .search__types{
        display: none;
    }

    .search__types--dropdown{
        display: flex;
    }

    .search__form{
        flex-direction: column;
    }

    .search__btn{
        width: 40%;
        margin-top: 8px;
    }
}

@media (max-width: 550px) {
    /*Set Filter input and listing to modal*/
    .filters--row{
        transform: translateX(200%);
        transition: all 300ms ease;
    }

    .active .filters--row{
        transform: translateX(0);
    }

    .filters--toggle{
        padding-right: 8px;
        font-size: 24px;
        display: block;
        visibility: visible;
    }

    .filter--icon{
        padding-left: 8px;
        font-size: 24px;
        display: block;
        visibility: visible;
    }

    .menu--row{
        transform: translateX(-100%);
        transition: all 300ms ease;
    }

    .modal .menu--row{
        transform: translateX(0);
    }

    .cards__container{
        width: 100%;
        transition: all 300ms ease;
    }

    .modal .cards__container{
        transform: translateX(20%);
    }

    .active .cards__container{
        transform: translateX(-20%);
    }

    #search{
        justify-content: flex-end;
        align-content: flex-end;
    }

    .search__form{
        flex-direction: column;
    }

    .search__btn{
        width: 40%;
        margin-top: 4px;
    }

    .search__types--dropdown{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .search--type{
        width: 40%;
        margin: 4px;
    }

}
